.arrows {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.arrows a {
  margin-right: 10px;
  display: flex;
  width: 24px;
  height: 24px;
  color: #000;
  text-decoration: none;
}

.lowerurtone {
  opacity: 0.4;
}