@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://c.webfontfree.com/c.js?f=AlpsThinBold");

/* reset default styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* apply default styling to body*/
body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  color: rgba(0, 0, 0, 0.65);
}

body a {
  color: rgb(100, 0, 255);
  padding-bottom: 0.05em;
  border-bottom: 0 solid rgba(127, 127, 127, 0.2);
  text-decoration: none;
}

body a.image-link,
body a.icon-link,
body a.image-link:hover,
body a.icon-link:hover {
  border-bottom: 0;
  padding-bottom: 0;
}

/* grid styling */
.grid-container5050 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container25 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-container30 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.grid-containerwork {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5%;
  max-width: 100%;
  margin: 0 auto;
}

/* Style the grid items */
.grid-itemwork {
  text-align: center;
}

.grid-itemwork img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.grid-itemwork video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.grid-itemwork p {
  margin-top: 10px;
  text-align: left;
}

.grid-item25l {
  padding-left: 0px;
  text-align: left;
}
.grid-item25r {
  padding: 0px;
  text-align: right;
}

.grid-item5050 {
  padding: 2%;
}

.grid-item5050 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.grid-item30l {
  padding-left: 7%;
  text-align: left;
}

.grid-item30c {
  padding-left: 33%;
  text-align: center;
}

.grid-item30r {
  transform: translateX(28%);
  text-align: right;
}

.grid-item30 {
  padding: 0px;
}

/* main pages */
.Homepage {
  display: flex;
  height: 100%;
}

.about {
  word-break: break-word;
  padding-left: 2.25dvw;
  padding-right: 2dvw;
  padding-top: 9dvh;
  padding-bottom: 8dvh;
}

.worklist {
  word-break: break-word;
  padding-left: 2.25dvw;
  padding-right: 2.25dvw;
  padding-top: 9dvh;
  padding-bottom: 12dvh;
  background-color: rgb(255, 255, 255);
}

.workindex {
  word-break: break-word;
  padding-left: 2.25dvw;
  padding-right: 1dvw;
  padding-top: 9dvh;
  padding-bottom: 12dvh;
  background-color: rgb(255, 255, 255);
}

.interestsblog {
  word-break: break-word;
  padding-left: 20dvw;
  padding-right: 20dvw;
  padding-top: 9dvh;
  padding-bottom: 2dvh;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar,
.left-page::-webkit-scrollbar,
.right-page::-webkit-scrollbar {
  display: none;
  width: 0;
  background-color: transparent;
}

/* home page exclusive styling */

.left-page,
.right-page {
  flex: 1;
  word-break: break-word;
  padding-left: 2.25dvw;
  padding-right: 2dvw;
  padding-top: 9dvh;
  overflow-y: scroll;
  height: 91vh;
  overscroll-behavior: contain;
  text-align: left;
}

.left-page {
  background-color: rgb(255, 255, 255);
}

.right-page {
  background-color: rgb(0, 0, 0);
}

.centerlogo {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerlogoo {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  color: rgb(115, 34, 207);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 3%;
}

.centerlogoo .version {
  margin-right: 3%;
}

/**
* Editor styles
*/

i {
  font-style: italic;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 7.5rem;
  line-height: 0.9;
  letter-spacing: -0.1rem;
  color: rgba(0, 0, 0, 0.85);
}

h1 a {
  color: rgba(0, 0, 0, 0.85);
}

h2 {
  font-family: "AlpsThinBold", cursive;
  font-style: bold;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0.15rem;
}

@media (max-width: 2000px) {
  h1 {
    font-size: 6.5rem;
  }

  body {
    font-size: 1.7rem;
  }

  .centerlogoo {
    font-size: 2.75rem;
  }
}

@media (max-width: 1784px) {
  h1 {
    font-size: 6rem;
  }

  body {
    font-size: 1.6rem;
  }

  .centerlogoo {
    font-size: 2.5rem;
  }
}

@media (max-width: 1570px) {
  h1 {
    font-size: 5.5rem;
  }

  body {
    font-size: 1.5rem;
  }

  .centerlogoo {
    font-size: 2.25rem;
  }
}

@media (max-width: 1354px) {
  h1 {
    font-size: 4.25rem;
    letter-spacing: -0.05rem;
  }

  body {
    font-size: 1.4rem;
  }

  .interestsblog {
    padding-left: 15dvw;
    padding-right: 15dvw;
  }
}

/* Mobile CSS! */

@media (max-width: 1020px) {
  body {
    font-size: 1.7rem;
  }
  .centerlogoo {
    font-size: 2.25rem;
  }
  h1 {
    font-size: 6.5rem;
  }

  .right-page {
    display: none;
  }

  .grid-container5050 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  .grid-containerwork {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5%;
    max-width: 100%;
    margin: 0 auto;
  }

  .interestsblog {
    padding-left: 10dvw;
    padding-right: 10dvw;
  }
}

@media (max-width: 820px) {
  .centerlogoo {
    font-size: 2rem;
  }
  h1 {
    font-size: 5.5rem;
  }
  .interestsblog {
    padding-left: 5dvw;
    padding-right: 5dvw;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }
  .centerlogoo {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .interestsblog {
    padding-left: 3dvw;
    padding-right: 3dvw;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 0.7rem;
  }
  .centerlogoo {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
