@font-face {
    font-family: "TeX Gyre Heros Condensed";
    font-display: swap;
    src: url("../fonts/texgyreheros.gyreheroscondensed-regular.otf") format("opentype");
}

/* Add styling for the Bottomnav */
.bottomnav {
    bottom: 0;
    height: 4rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding-top: .8rem;
    width: 50%;
    background-color: #403e47;
    z-index: 9999;
    overflow: hidden;
}

/* grid styling */

.grid-container30 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.grid-item30l {
    padding-left: 7%;
    text-align: left;
  }
  
.grid-item30c {
    padding-left: 33%;
    text-align: center;
}
  
.grid-item30r {
    transform: translateX(28%);
    text-align: right;
}

/* font styling */

small {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.3;
    font-family: "TeX Gyre Heros Condensed";
    font-style: normal;
    font-weight: 400;
    color: rgba(136, 136, 136, 0.8);
    letter-spacing: 0.07rem;
}

small a {
    color: rgba(155, 155, 155, 0.8);
    border-bottom-width: 0;
}

small a.active {
    opacity: 0.4;
}

.aboutme .aboutmee{
    opacity: 0.4;
}

.personal .personall{
    opacity: 0.4;
}

.work .workk{
    opacity: 0.4;
}
.nosplitting {
    color: rgba(181, 181, 181, 0.902);
}

@media (max-width: 2000px) {
    .bottomnav {
        height: 3.5rem;
    }
    .nosplitting {
        font-size: 1.6rem;
    }
}

@media (max-width: 1784px) {
    .bottomnav {
        height: 3rem;
    }
    .nosplitting {
        font-size: 1.4rem;
    }
}

/* Mobile CSS! */

@media (max-width: 1110px) {
    .nosplitting {
        font-size: 1.3rem;
    }
}

@media (max-width: 1020px) {
    .bottomnav {
        display: none;
    }
}