.mobilenav {
  display: none;
}

@media (max-width: 1020px) {
  .mobilenav {
    display: block;
  }

  .ArrowImg {
    display: inline-flex;
    transform: scaleX(-1);
    width: 7%;
  }

  .HamburgerImg {
    width: 100%;
    height: 100%;
  }

  .hamburger-icon {
    width: 2rem;
    height: 1.5rem;
    position: fixed;
    top: 4dvw;
    right: 4dvw;
    z-index: 999;
  }

  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 998;
  }

  .menu-container.open {
    display: flex;
  }

  .menu-container ul {
    list-style: none;
    padding: 0;
  }

  .menu-container ul li {
    margin-bottom: 20px;
  }

  smaller {
    position: absolute;
    top: 4dvw;
    left: 4dvw;
    display: inline-block;
    font-size: 3dvw;
    line-height: 1.2;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.8);
    letter-spacing: 0.05rem;
  }

  mobile a {
    display: inline-block;
    font-size: 14dvw;
    line-height: 1.2;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05rem;
    color: rgba(0, 0, 0, 0.8);
    border-bottom-width: 0;
  }

  mobilelower a {
    font-size: 7dvw;
  }

  .link-container {
    display: flex;
    justify-content: space-between;
  }

  .link-container .linkedin-container {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
}
