.topnav {
  position: fixed;
  padding-top: 0.75rem;
  padding-inline-start: 2dvw;
  width: 96%;
  height: 8%;
  background: none;
  transition: transform 0.5s ease-in-out;
  z-index: 9999;
  transform: translateY(0);
  overflow: hidden;
}

.topnav.hidden {
  transform: translateY(-100%);
}

/* grid styling */
.grid-container25 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-item25l {
  padding-left: 0px;
  text-align: left;
}
.grid-item25r {
  padding: 0px;
  text-align: right;
}

/* font styling */
hr {
  background: rgba(136, 136, 136, 0.42);
  border: 0;
  height: 1px;
  display: block;
}

.aboutme hr {
  background: rgba(255, 255, 255, 0.42);
}

small {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(136, 136, 136, 0.8);
  letter-spacing: 0.05rem;
}

small a {
  color: rgba(155, 155, 155, 0.8);
  border-bottom-width: 0;
}

.aboutme small {
  color: rgba(255, 255, 255, 1);
}

.aboutme small a {
  color: rgba(255, 255, 255, 1);
}

.personal .personall {
  opacity: 0.4;
}

.work .workk {
  opacity: 0.4;
}

@media (max-width: 2000px) {
  .consistency {
    font-size: 1.4rem;
  }
}

@media (max-width: 1784px) {
  .consistency {
    font-size: 1.3rem;
  }
}

/* Mobile CSS! */

@media (max-width: 1110px) {
  .consistency {
    font-size: 1.2rem;
  }
}

@media (max-width: 1020px) {
  .topnav {
    display: none;
  }
}
