@font-face {
    font-family: "TeX Gyre Heros Condensed";
    src: url("../fonts/texgyreheros.gyreheroscondensed-regular.otf") format("opentype");
}
  
/* Add styling for the Topnav */
.topnav {
    position: fixed;
    padding-top: .75rem;
    padding-inline-start: 2dvw;
    width: 96%;
    height: 10%;
    background: none;
    z-index: 9999;
    overflow: hidden;
}

/* grid styling */
.grid-container25 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-item25l {
    padding-left: 0px;
    text-align: left;
}
.grid-item25r {
    padding: 0px;
    text-align: right;
}

/* font styling */
hr {
    background: rgba(136, 136, 136, 0.42);
    border: 0;
    height: 1px;
    display: block;
}

.aboutme hr{
    background: rgba(255, 255, 255, 0.42);
}

small {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.3;
    font-family: "TeX Gyre Heros Condensed";
    font-style: normal;
    font-weight: 400;
    color: rgba(136, 136, 136, 0.8);
    letter-spacing: 0.07rem;
}

small a {
    color: rgba(155, 155, 155, 0.8);
    border-bottom-width: 0;
}

.aboutme small{
    color: rgba(255, 255, 255, 1);
}

.aboutme small a{
    color: rgba(255, 255, 255, 1);
}

.personal .personall{
    opacity: 0.4;
}

.work .workk{
    opacity: 0.4;
}

/* Mobile CSS! */

@media (max-width: 1280px) {
    .consistency {
        font-size: 1.5rem;
    }
}

@media (max-width: 1110px) {
    .consistency {
        font-size: 1.3rem;
    }
}

@media (max-width: 1020px) {
    .topnav {
        display: none;
    }
}

@media (max-width: 480px) {
    
}